* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url('../img/ResumeTemplates/bacground2.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    margin: 0;
    width: 100vw;
    height: 100vh;
}




header {
    display: flex;
    width: 100%;
    background-color: #F3F3F3;
    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;

}

.header_left {
    width: 15%;
    position: relative;
}


.site_name {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-weight: 900;
    font-size: 22px;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}


.header_middle {
    width: 60%;
    padding-left: 1rem;
}

.header_middle ul {
    display: flex;
    list-style-type: none;
    margin-top: 2rem;
    gap: 1rem;


}

.header_middle ul li {
    font-size: 18px;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

.header_middle ul li a {
    text-decoration: none;
    color: #000;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.header_right a {
    font-weight: 700;
    margin-left: 15px;
    text-decoration: none;

}

.sign_part {
    color: #4b2cff;

}

.log_in {
    background: #4b2cff;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;

}

/* R I G H T  */
.section_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 210mm;
    margin-top: 5rem;
    height: 70vh;
    position: relative;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;


}


#preview2 {
    width: 20%;
    height: fit-content;
    position: absolute;
    left: 9rem;
    border-radius: 40px;

}

.section_right.active {
    display: flex !important;
}

.section_right h3 {
    font-size: 30px;
    margin-left: -11rem;
}


.section_right_top {
    width: 100%;
    min-height: 100hv;
    height: auto;
    display: flex;
    background: #ffff;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.3);

}

#fileInput2 {
    display: none;
}
.section_inside_top{
    display: flex;
    width: 100%;
    height: 60vh;
}
.section_1 {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.section_right_r_side_r {
    width: 50%;
    background-image: url("../img/UpdateCv/bg_30.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    height: auto;
    position: relative;
 
}


.names {
    width: 100%;
    padding-top: 2rem;
    margin-left: 6rem;
    background: transparent;
}

.name_form {
    display: flex;
    width: 6rem;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 12rem;
    margin-left: 7rem;
    border: none;
    outline: none;
    min-height: 20px;
    height: auto;
    border: none;
    background: transperent;
    color: #000000;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;

}

.input_h1,
.input_h1::placeholder {
    text-align: center;
    width: 10rem;
    height: 100%;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    outline: none;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin-top: -2rem;
    margin-left: 1rem;
    background-color: transparent;

}

.phoneR,
.emailR,
.adressR,
.phoneR::placeholder,
.emailR::placeholder,
.adressR::placeholder,
.linkedinR,
.linkedinR::placeholder {
    width: 100%;
    overflow: hidden;
    height: 5vh;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    outline: none;
    color: #000000;
    font-size: 8px;
    text-align: center;
    font-weight: 700;
    background-color: transparent;
    line-height: 1.1;
    padding: 0 !important;
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.section_right_side_2 {
    margin: 0 auto;
    margin-left: 0.5rem;
    margin-top: 1rem;
    width: 50%;
    align-items: stretch;
    height: auto;
    border-radius: 15px;
    position: relative;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
}

.section_right_side_2 p {
    font-size: 12px;
}

.section_right_side_2 .outputArea {
    resize: none;
    width: 14rem;
    height: 50px;
    border: none;
    outline: none;
    font-size: 8px;
    color: #000;
    font-size: 10px;
    background: #ffff;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow: hidden !important;

}

.section_right_side_2 .outputArea::placeholder {
    color: #000;
    font-size: 10px;
    background-color: #ffff;
    border: none;
    outline: none;


}

.outputArea {
    background-color: #ffff;

}

.section_right_side_2 p {
    padding: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 12px;

}


#itemListLanguage_right1 {
    list-style: none;
    padding-left: 0;
    margin: 0;
}


.rightSideContainer {
    width: 100%;
    height: auto;
    padding-left: 1rem;
    margin-top: 10px;


}

.section_right_top_certificat,
.section_right_top_skills,
.section_right_top_language {
    padding-left: 1rem;
    margin-top: 3rem;
    width: 100%;
    height: auto;
}

.section_right_top_certificat h2,
.section_right_top_language h2,
.rightSideContainer h2,
.work_experience_right h2,
.section_right_top_skills h2 {
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
}


#itemListCertificate_right1 {
    list-style-type: none;
}

#itemListCertificate_right1 li {
    font-size: 8px;
}

#sendedParts h2 {
    margin: 5px;
}


#sendTitle1 {
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 50%;
}

#sendList li {
    font-size: 8px;
}

.rightSideContainer {
    margin-bottom: 5px;
}


.section_right_side_2 .outputArea::placeholder {
    color: #000000;
    font-size: 10px;
    background: #F0F0F0;

}

#sendList {
    list-style-type: none;
}





#sendList1 {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

#sendList1 li {
    font-size: 8px;

}

#itemListLanguage_right1 {
    list-style: none;
    padding-left: 0;
    margin: 0;
}




.work_experience_right {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    padding-left: 1rem;
}

#entry_list {
    list-style-type: none;
}

#entry_list li {
    font-size: 8px;
}

#itemListLanguage_right1 {
    list-style-type: none;
    padding-bottom: 5px;
}

#itemListLanguage_right1 li {
    font-size: 8px;
}

.work_experience_right h2,
.right_skills h2,
.language_right h2 {
    margin-top: 1rem;


}

.rightSideContainer h2 {
    font-size: 12px;
    font-weight: 700;
}

.work_experience_right form,
.education_right form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;

}

.button-container {
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    margin-left: 14rem;
}

.btn {
    padding: 12px 32px;
    border-radius: 50px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-change {
    background: linear-gradient(to right, #5C17FC, #0D5EFF);
    text-decoration: none;

}

.btn-change a {
    text-decoration: none;
    color: #FFFF;
}

.btn-change:hover,
.btn-download:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(79, 70, 229, 0.4);
}

.btn-download {
    background: linear-gradient(to right, #5C17FC, #0D5EFF);
}


.btn:active {
    transform: translateY(-1px);
}


@media(max-width:1280px) {

    .name_form,
    .top_form {
        width: 100px;
        left: 1.5rem;
    }
}

@media(max-width:1024px) {
    .section_right {
        margin-top: -11rem;
    }

    .section_right h3 {
        margin-top: 1rem;
        margin-left: -6rem;
        margin-bottom: 1rem;
    }
}

@media(max-width:912px) {
    .section_right {
        margin-top: -11rem;
    }

    .section_right h3 {
        margin-top: 1rem;
        margin-left: -6rem;
        margin-bottom: 1rem;
    }
}

@media(max-width:853px) {
    .section_right {
        margin-top: -11rem;
    }

    .section_right h3 {
        margin-top: 1rem;
        margin-left: -6rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        justify-items: center;
    }

    .header {
        width: 80%;
    }

    .card {
        width: 70%;
    }

}

@media(max-width: 430px) {
    header {
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }

    .header_left {
        width: 100%;
        height: 60px;
    }

    .site_name {
        position: static;
        padding-top: 15px;
        display: block;
    }

    .header_middle {
        width: 100%;
        padding-left: 0;
    }

    .header_middle ul {
        justify-content: center;
        margin-top: 10px;
        gap: 0.5rem;
    }

    .header_middle ul li {
        font-size: 14px;
        margin-left: 0.5rem;
    }

    .header_right {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        justify-content: center;
    }

    .section_right,
    .info_input {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        height: auto !important;
    }

    .section_right h3 {
        margin-left: 0 !important;
        margin-top: 10rem;
        font-size: 22px;
        text-align: center;
    }

    .info_input {
        flex-direction: column;
        align-items: center;
        padding: 10px 0 !important;
    }

    .phoneR,
    .emailR,
    .adressR,
    .linkedinR {
        width: 90% !important;
        font-size: 12px !important;
        margin-bottom: 5px;
    }

    .button-container {
        margin-left: 0 !important;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btn {
        width: 80%;
        padding: 10px 20px;
        font-size: 14px;
    }

    .place,
    .situation,
    .position {
        width: 90% !important;
        margin-left: 0 !important;
    }

    .section_right_r {
        margin-left: 0 !important;
        width: 100% !important;
        padding: 0 10px;
    }

    hr.vertical_for_left_right {
        display: none;
    }

    .container {
        width: 90%;
        justify-items: center;
    }

    .header {
        width: 50%;
        margin-top: 4rem;
    }

    .card {
        width: 50%;
    }
}


.html2pdf__container div {
    max-width: 100% !important;
}

.html2pdf__container .section_right_top {
    height: 297mm;
}

.html2pdf__container .names {
    position: absolute;
    width: 100%;
    left: -1rem;
    top: 1rem;
}

.html2pdf__container .input_h1 {
    width: 100%;
    text-align: center;

}

.html2pdf__container #preview2 {
    width: 45%;
    height: fit-content;
    margin-top: 3rem;
    margin-left: 5rem;
    border-radius: 40px;

}

.html2pdf__container .section_right_r_side_r {
    width: 50%;
    background-image: url("../img/UpdateCv/bg_30.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    position: relative;
}
.html2pdf__container .name_form {
    position: absolute;
    top: 20rem;
    left: 5rem;
}
div.outputArea {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.html2pdf__container #qr-result-container {
    top: 1rem;
}
/* end */